body{

    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.Color-orange{
    color: orange;
}
.flaxible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
   font-weight: 700;
}
.link-button:hover{
    
    color: lawngreen;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.position{
    padding-right: 120px;
    text-align: justify;
}
.Experice-item{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    
}
.Experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web1{
    border-left: 4px solid;
    border-image: linear-gradient(rgb(13, 13, 240), rgb(74, 236, 236));
    border-image-slice: 1;

}
#web2{
    border-left: 4px solid;
    border-image: linear-gradient(rgb(240, 198, 13), rgb(206, 43, 21));
    border-image-slice: 1;
}
footer p{
    text-align: center;
    

}